<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

		<!-- Derby Config-->
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
		<property name="hibernate.connection.url">jdbc:derby:/home/kopeeno/workspace/JDBC/HR</property>
        <property name="hibernate.connection.username">hr</property>
        <property name="hibernate.connection.password">hr</property>
        


        <!-- SQL Format -->
        <property name="hibernate.show_sql">true</property>
	    <property name="hibernate.format_sql">true</property>
        
        

        <!-- mapping files -->
        <mapping resource="Regions.hbm.xml"/>
        <mapping resource="Countries.hbm.xml"/>
        <mapping resource="Locations.hbm.xml"/>
        <mapping resource="DepartMents.hbm.xml"/>
        <mapping resource="Jobs.hbm.xml"/>
        <mapping resource="Employees.hbm.xml"/>
        <mapping resource="Jobhistory.hbm.xml"/>
        <mapping resource="Project.hbm.xml"/>
        <mapping resource="ProjectEmployee.hbm.xml"/>
        <mapping resource="StaffRole.hbm.xml"/>
    </session-factory>

</hibernate-configuration>
